:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(13, 13, 13, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #679787;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap: 2rem;
}

span {
  font-size: 2rem;
}
button {
  padding-bottom: 6px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid transparent;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: solid 2px #0b241c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0b241c;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
